footer.mt-lg-10.mt-5.mb-5
  .container
    .row 
      .col-lg-4.mb-5.mb-lg-0
        img(src="./assets/images/storageconnect_logo_footer.png")
        p.mt-3 Nam posuere accumsan porta. Integer id orci sed ante tincidunt tincidunt sit amet sed libero.
        .mt-3 © StorageConnect 2022, All Rights Reserved
      
      .col-sm.mb-5.mb-lg-0
        h5 Quick Links
        ul.nav.flex-column.text-white.nav-opacity.nav-gap-sm
          li.nav-item
            a.nav-link.px-0(href='#') Consulting
          li.nav-item
            a.nav-link.px-0(href='#') Human Resources
          li.nav-item
            a.nav-link.px-0(href='#') Accounting
          li.nav-item
            a.nav-link.px-0(href='#') Marketing &amp; SEO

      .col-lg-3.mb-5.mb-lg-0
        h5.text-uppercase Newsletter 
        p Get latest updates right in your inbox
        form.form-group
          input(type="text" placeholder="Enter your email.." class="form-control form-control-lg mb-2")
          button.btn.btn-primary Subscrice Now
      .col-lg-3.mb-5.mb-lg-0
        h5 Lets Get Social

        button.btn.btn-primary.btn-icon-only.rounded-circle.d-inline-flex.align-items-center.justify-content-center.me-2
          .uil.uil-facebook-f 
        button.btn.btn-primary.btn-icon-only.rounded-circle.d-inline-flex.align-items-center.justify-content-center.me-2
          .uil.uil-linkedin
        button.btn.btn-primary.btn-icon-only.rounded-circle.d-inline-flex.align-items-center.justify-content-center.me-2
          .uil.uil-twitter 
        button.btn.btn-primary.btn-icon-only.rounded-circle.d-inline-flex.align-items-center.justify-content-center
          .uil.uil-instagram     

        .mt-3 
          .dropdown
            button#dropdownMenuButton1.btn.btn-outline-primary.btn-sm.dropdown-toggle.fs-6.text-dark(type='button' data-bs-toggle='dropdown' aria-expanded='false')
              i.uil.uil-globe.me-2.fs-6
              | English- En
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
              li
                a.dropdown-item(href='#') German - GE
              li
                a.dropdown-item(href='#') Nepali - NE
              li
                a.dropdown-item(href='#') Hindi - HI


