.container.position-relative.z-index-sticky.top-0
    .row
        .col-12
            nav.navbar.navbar-expand-lg.top-0.z-index-fixed.position-absolute.my-3.py-2.start-0.end-0.mx-4.navbar-transparent
                .container.px-0
                    a.navbar-brand.font-weight-bolder.ms-sm-3(href='#' rel='tooltip' data-placement='bottom' target='_blank')
                        img(src="./assets/images/storageconnect_logo.png" width=200)

                    button.navbar-toggler.shadow-none.ms-2(type='button' data-bs-toggle='collapse' data-bs-target='#navigation' aria-controls='navigation' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon.mt-2
                            span.navbar-toggler-bar.bar1
                            span.navbar-toggler-bar.bar2
                            span.navbar-toggler-bar.bar3
                    #navigation.collapse.navbar-collapse.pt-3.pb-2.py-lg-0.w-100
                        ul.navbar-nav.navbar-nav-hover.ms-auto
                            li.nav-item.mx-2
                                a.nav-link Active Listings

                            li.nav-item.mx-2
                                a.nav-link Sell your Self Storage

                            li.nav-item.mx-2
                                a.nav-link.ps-2 Free Evaluation

                            li.nav-item.mx-2
                                a.nav-link.ps-2 Learn
                            li.nav-item.my-auto.ms-2
                                a.btn.btn-sm.btn-warning.mb-0.me-1.mt-2.mt-md-0(href='#download-soft-ui ') Contact

header
    .page-header.min-vh-75.relative.py-lg-0.pt-6.pb-4(style="background-image: url('./assets/images/header_bg.png')")
        .container.text-center.mt-5.mt-lg-0
            h1.text-white.mb-2.fw-bolder 
                | Self Storage Business
                <br> 
                | Buy. Sell. Learn.

            p.lead.text-white.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit  
                br
                |  sagittis, aliquam non tortor blandit lobortis. blandit
            .d-flex.align-items-center.justify-content-center.flex-column.flex-lg-row
                btn.btn.btn-warning.btn-lg.mx-2.mb-2.mb-lg-0 Sell Your Self Storage 
                btn.btn.btn-white.btn-lg.mx-2 Active Self Storage Listing    
