//Call to Action
section.position-relative.overflow-hidden(style="background:no-repeat top/100% #E8EFFF url('./assets/images/cta_bg.png');  padding-top: 145px; padding-bottom: 145px;")
    .container
        .position-relative
            img.position-absolute(src="./assets/images/ellipse-yellow.png" style="left: -42.5px; bottom: -42.5px")
            img.position-absolute(src="./assets/images/email_icon.png" style="right: 50px; top: -48px")
            .card.d-flex.justify-content-between.align-items-center.flex-lg-row.px-6.py-7.text-center.text-lg-start(style="background-color: rgba(255,255,255,0.9)")
                .mb-lg-0.mb-5
                    h2 Any Queries? Reach Out to Us
                    p.font-18.mb-0 
                        | Feel free to write to us, we are happy to help you

                button.btn.btn-lg.btn-primary 
                    i.uil.uil-message.me-2
                    | Write to Us