//- section.py-7.position-relative.overflow-hidden
//-     img.position-absolute.start-0(src="/images/ellipse_featured.png" style="margin-top: -290px")
//-     .container
//-         .text-center.mb-6
//-             h2 Featured Self Storage 
//-             p.font-18 
//-                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor sapien sagittis maecenas 
//-                 br
//-                 | tincidunt. Quis pretium ornare
//-         .swiper.featured-swiper
//-             .row.swiper-wrapper
//-                 .col-md-6.col-lg-4.mb-3.mb-lg-0.swiper-slide 
//-                     .card.shadow-none.bg-gray-100
//-                         .card-header.bg-gray-100
//-                             img.img-fluid.border-radius-lg.w-100(src='/images/featured1.png' alt='img-colored-shadow')
//-                         .card-body.pt-0
//-                             h4.mb-4 Heading of this self storage
//-                             .row
//-                                 .col-md-6 
//-                                     i(class="uil uil-map-marker-alt me-2")
//-                                     | New Jersey, NJ  
//-                                 .col-md-6 
//-                                     i(class="uil uil-building me-2")
//-                                     | Total Units:
//-                                     span.font-weight-light.ms-1 89
//-                                 .col-md-6 
//-                                     i(class="uil uil-users-alt me-2")
//-                                     | Occupancy:
//-                                     span.font-weight-light.ms-1 50%
//-                                 .col-md-6 
//-                                     i(class="uil uil-focus me-2")
//-                                     | Size: 
//-                                     span.font-weight-light.ms-1 40,233 Sq Ft
//-                             .text-center.mt-4
//-                                 btn.btn.btn-primary View More Details
//-                 .col-md-6.col-lg-4.mb-3.mb-lg-0.swiper-slide
//-                     .card.shadow-none.bg-gray-100
//-                         .card-header.bg-gray-100
//-                             img.img-fluid.border-radius-lg.w-100(src='/images/featured2.png' alt='img-colored-shadow')
//-                         .card-body.pt-0
//-                             h4.mb-4 Heading of this self storage
//-                             .row
//-                                 .col-md-6 
//-                                     i(class="uil uil-map-marker-alt me-2")
//-                                     | New Jersey, NJ  
//-                                 .col-md-6 
//-                                     i(class="uil uil-building me-2")
//-                                     | Total Units:
//-                                     span.font-weight-light.ms-1 89
//-                                 .col-md-6 
//-                                     i(class="uil uil-users-alt me-2")
//-                                     | Occupancy:
//-                                     span.font-weight-light.ms-1 50%
//-                                 .col-md-6 
//-                                     i(class="uil uil-focus me-2")
//-                                     | Size: 
//-                                     span.font-weight-light.ms-1 40,233 Sq Ft
//-                             .text-center.mt-4
//-                                 btn.btn.btn-primary View More Details
//-                 .col-md-6.col-lg-4.mb-3.mb-lg-0.swiper-slide
//-                     .card.shadow-none.bg-gray-100
//-                         .card-header.bg-gray-100
//-                             img.img-fluid.border-radius-lg.w-100(src='/images/featured3.png' alt='img-colored-shadow')
//-                         .card-body.pt-0
//-                             h4.mb-4 Heading of this self storage
//-                             .row
//-                                 .col-md-6 
//-                                     i(class="uil uil-map-marker-alt me-2")
//-                                     | New Jersey, NJ  
//-                                 .col-md-6 
//-                                     i(class="uil uil-building me-2")
//-                                     | Total Units:
//-                                     span.font-weight-light.ms-1 89
//-                                 .col-md-6 
//-                                     i(class="uil uil-users-alt me-2")
//-                                     | Occupancy:
//-                                     span.font-weight-light.ms-1 50%
//-                                 .col-md-6 
//-                                     i(class="uil uil-focus me-2")
//-                                     | Size: 
//-                                     span.font-weight-light.ms-1 40,233 Sq Ft
//-                             .text-center.mt-4
//-                                 btn.btn.btn-primary View More Details
//-                 .col-md-6.col-lg-4.mb-3.mb-lg-0.swiper-slide
//-                     .card.shadow-none.bg-gray-100
//-                         .card-header.bg-gray-100
//-                             img.img-fluid.border-radius-lg.w-100(src='/images/featured3.png' alt='img-colored-shadow')
//-                         .card-body.pt-0
//-                             h4.mb-4 Heading of this self storage
//-                             .row
//-                                 .col-md-6 
//-                                     i(class="uil uil-map-marker-alt me-2")
//-                                     | New Jersey, NJ  
//-                                 .col-md-6 
//-                                     i(class="uil uil-building me-2")
//-                                     | Total Units:
//-                                     span.font-weight-light.ms-1 89
//-                                 .col-md-6 
//-                                     i(class="uil uil-users-alt me-2")
//-                                     | Occupancy:
//-                                     span.font-weight-light.ms-1 50%
//-                                 .col-md-6 
//-                                     i(class="uil uil-focus me-2")
//-                                     | Size: 
//-                                     span.font-weight-light.ms-1 40,233 Sq Ft
//-                             .text-center.mt-4
//-                                 btn.btn.btn-primary View More Details                                                
                 
//-             .swiper-pagination
//-             // If we need navigation buttons
//-             .swiper-button-prev
//-             .swiper-button-next
//-             // If we need scrollbar
//-             .swiper-scrollbar                


section.py-7.position-relative.overflow-hidden
    img.position-absolute.start-0(src="./assets/images/ellipse_featured.png" style="margin-top: -290px")
    .container
        .text-center.mb-6
            h2 Featured Self Storage 
            p.font-18 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor sapien sagittis maecenas 
                br
                | tincidunt. Quis pretium ornare
        .swiper.featured-swiper
            .swiper-wrapper
                .swiper-slide 
                    .card.shadow-none.bg-gray-100
                        .card-header.bg-gray-100
                            img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured1.png' alt='img-colored-shadow')
                        .card-body.pt-0
                            h4.mb-4 Heading of this self storage
                            .row
                                .col-md-6 
                                    i(class="uil uil-map-marker-alt me-2")
                                    | New Jersey, NJ  
                                .col-md-6 
                                    i(class="uil uil-building me-2")
                                    | Total Units:
                                    span.font-weight-light.ms-1 89
                                .col-md-6 
                                    i(class="uil uil-users-alt me-2")
                                    | Occupancy:
                                    span.font-weight-light.ms-1 50%
                                .col-md-6 
                                    i(class="uil uil-focus me-2")
                                    | Size: 
                                    span.font-weight-light.ms-1 40,233 Sq Ft
                            .text-center.mt-4
                                btn.btn.btn-primary View More Details
                .swiper-slide
                    .card.shadow-none.bg-gray-100
                        .card-header.bg-gray-100
                            img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured2.png' alt='img-colored-shadow')
                        .card-body.pt-0
                            h4.mb-4 Heading of this self storage
                            .row
                                .col-md-6 
                                    i(class="uil uil-map-marker-alt me-2")
                                    | New Jersey, NJ  
                                .col-md-6 
                                    i(class="uil uil-building me-2")
                                    | Total Units:
                                    span.font-weight-light.ms-1 89
                                .col-md-6 
                                    i(class="uil uil-users-alt me-2")
                                    | Occupancy:
                                    span.font-weight-light.ms-1 50%
                                .col-md-6 
                                    i(class="uil uil-focus me-2")
                                    | Size: 
                                    span.font-weight-light.ms-1 40,233 Sq Ft
                            .text-center.mt-4
                                btn.btn.btn-primary View More Details
                .swiper-slide
                    .card.shadow-none.bg-gray-100
                        .card-header.bg-gray-100
                            img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured3.png' alt='img-colored-shadow')
                        .card-body.pt-0
                            h4.mb-4 Heading of this self storage
                            .row
                                .col-md-6 
                                    i(class="uil uil-map-marker-alt me-2")
                                    | New Jersey, NJ  
                                .col-md-6 
                                    i(class="uil uil-building me-2")
                                    | Total Units:
                                    span.font-weight-light.ms-1 89
                                .col-md-6 
                                    i(class="uil uil-users-alt me-2")
                                    | Occupancy:
                                    span.font-weight-light.ms-1 50%
                                .col-md-6 
                                    i(class="uil uil-focus me-2")
                                    | Size: 
                                    span.font-weight-light.ms-1 40,233 Sq Ft
                            .text-center.mt-4
                                btn.btn.btn-primary View More Details
                .swiper-slide
                    .card.shadow-none.bg-gray-100
                        .card-header.bg-gray-100
                            img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured3.png' alt='img-colored-shadow')
                        .card-body.pt-0
                            h4.mb-4 Heading of this self storage
                            .row
                                .col-md-6 
                                    i(class="uil uil-map-marker-alt me-2")
                                    | New Jersey, NJ  
                                .col-md-6 
                                    i(class="uil uil-building me-2")
                                    | Total Units:
                                    span.font-weight-light.ms-1 89
                                .col-md-6 
                                    i(class="uil uil-users-alt me-2")
                                    | Occupancy:
                                    span.font-weight-light.ms-1 50%
                                .col-md-6 
                                    i(class="uil uil-focus me-2")
                                    | Size: 
                                    span.font-weight-light.ms-1 40,233 Sq Ft
                            .text-center.mt-4
                                btn.btn.btn-primary View More Details       
                .swiper-slide
                    .card.shadow-none.bg-gray-100
                        .card-header.bg-gray-100
                            img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured2.png' alt='img-colored-shadow')
                        .card-body.pt-0
                            h4.mb-4 Heading of this self storage
                            .row
                                .col-md-6 
                                    i(class="uil uil-map-marker-alt me-2")
                                    | New Jersey, NJ  
                                .col-md-6 
                                    i(class="uil uil-building me-2")
                                    | Total Units:
                                    span.font-weight-light.ms-1 89
                                .col-md-6 
                                    i(class="uil uil-users-alt me-2")
                                    | Occupancy:
                                    span.font-weight-light.ms-1 50%
                                .col-md-6 
                                    i(class="uil uil-focus me-2")
                                    | Size: 
                                    span.font-weight-light.ms-1 40,233 Sq Ft
                            .text-center.mt-4
                                btn.btn.btn-primary View More Details                                                         
                 
            .swiper-pagination

                        