section.py-7.position-relative(style="background-image: url('./assets/images/listing_bg.png')")
    img.bg-ellipse.bg-ellipse--right(src="./assets/images/ellipse-half.png")
    img.bg-ellipse.bg-ellipse--left(src="./assets/images/ellipse-half.png")
    .container 
        .text-center.mb-6
            h2.text-white Active Listing Self Storages
            p.font-18.text-white 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor sapien sagittis maecenas 
                br
                | tincidunt. Quis pretium ornare
        .row 
            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/storage1.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details
            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/storage2.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details
            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/storage3.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details          

            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/storage4.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details
            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/featured1.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details
            .col-md-6.col-lg-4.mb-3
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100
                        img.img-fluid.border-radius-lg.w-100(src='./assets/images/storage5.png' alt='img-colored-shadow')
                    .card-body.pt-0
                        h4.mb-4 Heading of this self storage
                        .row
                            .col-md-6 
                                i(class="uil uil-map-marker-alt me-2")
                                | New Jersey, NJ  
                            .col-md-6 
                                i(class="uil uil-building me-2")
                                | Total Units:
                                span.font-weight-light.ms-1 89
                            .col-md-6 
                                i(class="uil uil-users-alt me-2")
                                | Occupancy:
                                span.font-weight-light.ms-1 50%
                            .col-md-6 
                                i(class="uil uil-focus me-2")
                                | Size: 
                                span.font-weight-light.ms-1 40,233 Sq Ft
                        .text-center.mt-4
                            btn.btn.btn-primary View More Details                                            
        .mt-5.text-center
            button.btn.btn-lg.btn-warning View More Listing                    