//Sell Storage
section.position-relative.overflow-hidden(style="background-color: #E8EFFF; border-radius: 0px 0px 300px 0px; padding-top: 266px; padding-bottom: 240px;")
    img.bg-ellipse.bg-ellipse--sellcta(src="./assets/images/ellipse-sellcta.png")
    img.position-absolute.end-0.bottom-0.d-none.d-lg-block(src="./assets/images/man-container.png")
    .container
        .mb-6
            h2 Do you have a Self Storage for Sale?
            p.font-18 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc 
                br
                | tortor sapien sagittis maecenas tincidunt. Quis pretium ornare id 
                br 
                | diam amet proin scelerisque nunc.
            button.btn.btn-lg.btn-primary.mt-4 Sell Your Self Storage                    

//Buy Sell Storage
section.position-relative.overflow-hidden(style="background-image: url('./assets/images/buystorage_bg.png'); padding-top: 277px; padding-bottom: 387px;")
    img.position-absolute.start-0.bottom-0.d-none.d-lg-block(src="./assets/images/lady.png")
    .container.d-flex.justify-content-end
        .mb-6
            h2 Do you want to buy a Self Storage?
            p.font-18 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc 
                br
                | tortor sapien sagittis maecenas tincidunt. Quis pretium ornare id 
                br 
                | diam amet proin scelerisque nunc.
            button.btn.btn-lg.btn-primary.mt-4 Buy a Self Storage    


//Learn Everything About Buying, Selling, and Operating a Self Storage
//background: #ffffff url("img_tree.png") no-repeat right top;
section.position-relative.overflow-hidden(style="background: #1849C6 url('./assets/images/learn_bg.png') no-repeat; border-radius: 300px 0px 0px 0px; padding-top: 100px; padding-bottom: 100px; margin-top: -260px")
    .container
        .mb-6.text-center
            h2.text-white.text-white.mt-8.mt-lg-0
                | Learn Everything About Buying, Selling, and 
                br
                | Operating a Self Storage
            p.font-18.text-white
                | Learn about literally anything to know about Selling or 
                br
                | Buying a Self Storage
        .row 
            .col-md-6.col-lg-3.mb-3.mb-lg-0
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100.p-1
                        img.w-100(src='./assets/images/img1.png' alt='img-colored-shadow')
                    .card-body.pt-3
                        h5.mb-3 Everything you need to know about how to buy a Self Storage
                        .d-flex.justify-content-between.flex-wrap
                            .d-flex.align-items-center 
                                i(class="uil uil-clock me-1")
                                | 5hrs ago
                            .d-flex.align-items-center 
                                i(class="uil uil-tag-alt me-1")
                                | Buy
                            .d-flex.align-items-center 
                                i(class="uil uil-user me-1")
                                | Raza
                        .text-center.mt-4
                            btn.btn.btn-primary Read More
            .col-md-6.col-lg-3.mb-3.mb-lg-0
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100.p-1
                        img.w-100(src='./assets/images/img2.png' alt='img-colored-shadow')
                    .card-body.pt-3
                        h5.mb-3 Everything you need to know about how to buy a Self Storage
                        .d-flex.justify-content-between.flex-wrap
                            .d-flex.align-items-center 
                                i(class="uil uil-clock me-1")
                                | 5hrs ago
                            .d-flex.align-items-center 
                                i(class="uil uil-tag-alt me-1")
                                | Buy
                            .d-flex.align-items-center 
                                i(class="uil uil-user me-1")
                                | Raza
                        .text-center.mt-4
                            btn.btn.btn-primary Read More
            .col-md-6.col-lg-3.mb-3.mb-lg-0
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100.p-1
                        img.w-100(src='./assets/images/img3.png' alt='img-colored-shadow')
                    .card-body.pt-3
                        h5.mb-3 Everything you need to know about how to buy a Self Storage
                        .d-flex.justify-content-between.flex-wrap
                            .d-flex.align-items-center 
                                i(class="uil uil-clock me-1")
                                | 5hrs ago
                            .d-flex.align-items-center 
                                i(class="uil uil-tag-alt me-1")
                                | Buy
                            .d-flex.align-items-center 
                                i(class="uil uil-user me-1")
                                | Raza
                        .text-center.mt-4
                            btn.btn.btn-primary Read More  
            .col-md-6.col-lg-3.mb-3.mb-lg-0
                .card.shadow-none.bg-gray-100
                    .card-header.bg-gray-100.p-1
                        img.w-100(src='./assets/images/img4.png' alt='img-colored-shadow')
                    .card-body.pt-3
                        h5.mb-3 Everything you need to know about how to buy a Self Storage
                        .d-flex.justify-content-between.flex-wrap
                            .d-flex.align-items-center 
                                i(class="uil uil-clock me-1")
                                | 5hrs ago
                            .d-flex.align-items-center 
                                i(class="uil uil-tag-alt me-1")
                                | Buy
                            .d-flex.align-items-center 
                                i(class="uil uil-user me-1")
                                | Raza
                        .text-center.mt-4
                            btn.btn.btn-primary Read More                                               
        .text-center.mt-5
            button.btn.btn-lg.btn-warning Explore the Learning Section   